* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(25, 29, 43);
  color: white;
}

.nav-controls {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 25%;
  right: 5%;
}
.nav-controls .control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(69, 78, 86);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-controls .control i {
  color: lightslategray;
}

#active-btn {
  transition: all 0.4s ease-in-out;
  background-color: rgb(39, 174, 96);
}
#active-btn i {
  color: white;
}

.active {
  display: block;
  -webkit-animation: appear 1s ease-in-out;
          animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}
@-webkit-keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.hidden {
  display: none !important;
}

.header-container {
  background-color: rgb(25, 29, 43);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header-container .left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-container .left-header .shape {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(39, 174, 96);
  z-index: 0;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-container .left-header img {
  width: 75%;
  height: 85%;
  margin: 20px;
  border-radius: 10px;
  z-index: 1;
  filter: grayscale(75%);
  transition: filter 0.4s ease-in-out;
}
.header-container .left-header img:hover {
  filter: grayscale(0);
}
.header-container .right-header {
  width: 60%;
  height: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-container .right-header h1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.header-container .right-header h1 span {
  color: rgb(39, 174, 96);
  text-transform: uppercase;
}
.header-container .right-header p {
  color: rgb(251, 236, 218);
  font-size: 1.2rem;
  margin: 1.5rem 0;
  line-height: 2rem;
}
.header-container .right-header .btn-container {
  position: relative;
  display: flex;
  align-self: flex-start;
  border: 1px solid rgb(39, 174, 96);
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
}
.header-container .right-header .btn-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 0;
}
.header-container .right-header .btn-container:hover::before {
  width: 100%;
  height: 100%;
  background-color: rgb(39, 174, 96);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}
.header-container .right-header .btn-container .cv-download-btn {
  height: 50px;
  display: flex;
  text-decoration: none;
}
.header-container .right-header .btn-container .cv-download-btn .btn-text {
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.header-container .right-header .btn-container .cv-download-btn .btn-icon {
  background-color: rgb(39, 174, 96);
  height: 100%;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.header-container .right-header .btn-container .cv-download-btn .btn-icon i {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.section {
  display: flex;
  justify-content: center;
}

#about {
  background-color: rgb(25, 29, 43);
}

.about-container,
.portfolio-container,
.blogs-container,
.contact-container {
  width: 75%;
}

.about-me {
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.aboutMe-title {
  margin: 1.3rem 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.aboutMe-title h2 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}
.aboutMe-title h2 span {
  color: rgb(39, 174, 96);
  text-transform: uppercase;
}
.aboutMe-title h2 .faded-title {
  position: absolute;
  top: -15%;
  left: 35%;
  color: rgb(42, 46, 53);
  font-size: 4rem;
  z-index: -1;
}

.aboutMe-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
.aboutMe-content .left h3 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}
.aboutMe-content .left p {
  margin: 15px 0;
  font-size: 1.1rem;
  color: rgb(219, 225, 232);
}
.aboutMe-content .left .btn-container {
  width: 250px;
  position: relative;
  border: 1px solid rgb(39, 174, 96);
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
}
.aboutMe-content .left .btn-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 0;
}
.aboutMe-content .left .btn-container:hover::before {
  width: 100%;
  height: 100%;
  background-color: rgb(39, 174, 96);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}
.aboutMe-content .left .btn-container .cv-download-btn {
  height: 50px;
  display: flex;
  text-decoration: none;
}
.aboutMe-content .left .btn-container .cv-download-btn .btn-text {
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.aboutMe-content .left .btn-container .cv-download-btn .btn-icon {
  background-color: rgb(39, 174, 96);
  height: 100%;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.aboutMe-content .left .btn-container .cv-download-btn .btn-icon i {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}
.aboutMe-content .left .upper {
  margin-bottom: 10px;
}
.aboutMe-content .left .lower {
  margin-top: 10px;
}
.aboutMe-content .right {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
.aboutMe-content .right .card {
  border: 1px solid rgb(42, 46, 53);
  border-radius: 5px;
  height: 200px;
  padding: 20px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.aboutMe-content .right .card h3 {
  color: rgb(39, 174, 96);
  font-size: 3rem;
  font-weight: bold;
}
.aboutMe-content .right .card p {
  position: relative;
  padding-left: 3rem;
  color: rgb(219, 225, 232);
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: uppercase;
}
.aboutMe-content .right .card p::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 3px;
  width: 40px;
  background-color: rgb(42, 46, 53);
}
.aboutMe-content .right .card:hover {
  transition: all 0.4s ease-in-out;
  border: 1px solid rgb(39, 174, 96);
  transform: translateY(-2%);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.my-skills .mySkills-title {
  display: flex;
  justify-content: center;
  position: relative;
}
.my-skills .mySkills-title h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3rem 0;
}
.my-skills .mySkills-title h3::before {
  content: "";
  height: 1px;
  width: 50%;
  background-color: rgb(42, 46, 53);
  position: absolute;
  top: 0;
  left: 25%;
}
.my-skills .mySkills-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding-bottom: 3rem;
}
.my-skills .mySkills-content h4 {
  color: white;
  text-transform: uppercase;
  padding: 5px 0;
}
.my-skills .mySkills-content .progress {
  height: 40px;
  display: flex;
  align-items: center;
}
.my-skills .mySkills-content .progress-value {
  color: rgb(178, 190, 205);
  padding-right: 7px;
}
.my-skills .mySkills-content .progress-bar-container {
  position: relative;
  height: 8px;
  background-color: rgb(69, 78, 86);
  width: 100%;
}
.my-skills .mySkills-content .progress-bar-container .progress-ratio {
  height: 8px;
  background-color: rgb(39, 174, 96);
  position: absolute;
  top: 0;
  left: 0;
}
.my-skills .mySkills-content .progress-bar-container #html {
  width: 80%;
}
.my-skills .mySkills-content .progress-bar-container #css {
  width: 90%;
}
.my-skills .mySkills-content .progress-bar-container #js {
  width: 75%;
}
.my-skills .mySkills-content .progress-bar-container #angular {
  width: 75%;
}
.my-skills .mySkills-content .progress-bar-container #nodejs {
  width: 87%;
}
.my-skills .mySkills-content .progress-bar-container #python {
  width: 70%;
}

.my-timeline {
  margin-bottom: 3rem;
}
.my-timeline .myTimeline-title {
  display: flex;
  justify-content: center;
  position: relative;
}
.my-timeline .myTimeline-title h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3rem 0;
}
.my-timeline .myTimeline-title h3::before {
  content: "";
  height: 1px;
  width: 50%;
  background-color: rgb(42, 46, 53);
  position: absolute;
  top: 0;
  left: 25%;
}
.my-timeline .myTimeline-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-bottom: 3rem;
}
.my-timeline .myTimeline-content .timeline-card {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.my-timeline .myTimeline-content .timeline-card .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(39, 174, 96);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.my-timeline .myTimeline-content .timeline-card .icon i {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 15px;
}
.my-timeline .myTimeline-content .timeline-card .history h5 {
  color: rgb(178, 190, 205);
  background-color: #2a2e35;
  font-weight: 450;
  text-transform: uppercase;
  padding: 5px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
}
.my-timeline .myTimeline-content .timeline-card .history h4 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
}
.my-timeline .myTimeline-content .timeline-card .history h4 span {
  color: rgb(178, 190, 205);
}
.my-timeline .myTimeline-content .timeline-card .history p {
  color: rgb(178, 190, 205);
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.portfolio-container .portfolio-title {
  position: relative;
}
.portfolio-container .portfolio-title h2 {
  padding-top: 3rem;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}
.portfolio-container .portfolio-title h2 span {
  color: rgb(39, 174, 96);
  text-transform: uppercase;
}
.portfolio-container .portfolio-title h2 .faded-title {
  position: absolute;
  top: 30%;
  left: 2.5%;
  color: rgb(42, 46, 53);
  font-size: 4rem;
  z-index: -1;
}
.portfolio-container p {
  color: white;
  padding: 2rem 0;
  font-size: 1.2rem;
}
.portfolio-container .portfolio-content {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.portfolio-container .portfolio-content .item {
  position: relative;
}
.portfolio-container .portfolio-content .item:hover .bottom {
  transform: scale(1);
}
.portfolio-container .portfolio-content img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolio-container .portfolio-content .bottom {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-color: rgb(39, 174, 96);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolio-container .portfolio-content .bottom h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1.5rem;
}
.portfolio-container .portfolio-content .bottom .icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.portfolio-container .portfolio-content .bottom .icons .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(25, 29, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.portfolio-container .portfolio-content .bottom .icons .icon i {
  color: white;
  font-size: 1.4rem;
}
.portfolio-container .portfolio-content .bottom .icons .icon:hover {
  transition: all 0.4s ease-in-out;
  background-color: white;
}
.portfolio-container .portfolio-content .bottom .icons .icon:hover i {
  color: black;
}

.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.blogs-container .blogs-title {
  width: 100%;
  margin-top: 4rem;
  position: relative;
}
.blogs-container .blogs-title h2 {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}
.blogs-container .blogs-title h2 span {
  color: rgb(39, 174, 96);
  text-transform: uppercase;
}
.blogs-container .blogs-title h2 .faded-title {
  position: absolute;
  top: -15%;
  left: 35%;
  color: rgb(42, 46, 53);
  font-size: 4rem;
  z-index: -1;
}
.blogs-container .blogs-content {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.blogs-container .blogs-content .blog {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgb(42, 46, 53);
  transition: all 0.4s ease-in-out;
}
.blogs-container .blogs-content .blog:hover {
  transition: all 0.4s ease-in-out;
  transform: translateY(-1%);
}
.blogs-container .blogs-content .blog:hover img {
  transition: all 0.4s ease-in-out;
  filter: grayscale(0%);
  transform: scale(1.1);
}
.blogs-container .blogs-content .blog img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  margin-bottom: -7px;
  transition: all 0.4s ease-in-out;
}
.blogs-container .blogs-content .blog .blog-description {
  border-top: 7px solid rgb(39, 174, 96);
  padding: 1rem;
}
.blogs-container .blogs-content .blog .blog-description h3 {
  transition: all 0.4s ease-in-out;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
  cursor: pointer;
}
.blogs-container .blogs-content .blog .blog-description h3:hover {
  transition: all 0.4s ease-in-out;
  color: rgb(39, 174, 96);
}
.blogs-container .blogs-content .blog .blog-description p {
  color: rgb(178, 190, 205);
  line-height: 2rem;
  padding-bottom: 1rem;
}

.contact-container {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-container .contact-title {
  width: 100%;
  position: relative;
}
.contact-container .contact-title h2 {
  margin: 4rem 0;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}
.contact-container .contact-title h2 span {
  color: rgb(39, 174, 96);
  text-transform: uppercase;
}
.contact-container .contact-title h2 .faded-title {
  position: absolute;
  top: 26%;
  left: 34%;
  color: rgb(42, 46, 53);
  font-size: 4rem;
  z-index: -1;
}
.contact-container .contact-content .upper {
  margin-bottom: 50px;
}
.contact-container .contact-content .upper h3 {
  margin-bottom: 20px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.contact-container .contact-content .upper p {
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.contact-container .contact-content .upper .description {
  margin-bottom: 20px;
}
.contact-container .contact-content .upper .contact-information {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.contact-container .contact-content .upper .item {
  margin-bottom: 10px;
}
.contact-container .contact-content .upper .item i {
  display: inline-block;
  font-size: 1.3rem;
  width: 30px;
}
.contact-container .contact-content .upper .item span {
  font-size: 1.1rem;
}
.contact-container .contact-content .upper .social-media {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.contact-container .contact-content .upper .social-media .icon {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: rgb(42, 46, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  transition: all 0.4s ease-in-out;
}
.contact-container .contact-content .upper .social-media .icon i {
  color: white;
  font-size: 1.3rem;
}
.contact-container .contact-content .upper .social-media .icon:hover {
  transition: all 0.4s ease-in-out;
  background-color: rgb(39, 174, 96);
}
.contact-container .contact-content .upper .social-media .icon:hover i {
  color: black;
}
.contact-container .contact-content form {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-content form input, .contact-container .contact-content form textarea {
  border: none;
  outline: none;
  background-color: rgb(42, 46, 53);
  width: 100%;
  border-radius: 30px;
  padding: 0.8rem 1.1rem;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  resize: none;
}
.contact-container .contact-content form .btn-container {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-self: flex-start;
  border: 1px solid rgb(39, 174, 96);
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
}
.contact-container .contact-content form .btn-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 0;
}
.contact-container .contact-content form .btn-container:hover::before {
  width: 100%;
  height: 100%;
  background-color: rgb(39, 174, 96);
  transform: translateX(0);
  transition: all 0.4s ease-out;
}
.contact-container .contact-content form .btn-container .cv-download-btn {
  height: 50px;
  display: flex;
  text-decoration: none;
}
.contact-container .contact-content form .btn-container .cv-download-btn .btn-text {
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.contact-container .contact-content form .btn-container .cv-download-btn .btn-icon {
  background-color: rgb(39, 174, 96);
  height: 100%;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.contact-container .contact-content form .btn-container .cv-download-btn .btn-icon i {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */